name: Generate Snake

on:
  # 每天午夜自动运行
  schedule:
    - cron: "0 0 * * *" 
  # 允许手动触发
  workflow_dispatch:
  
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          github_token: ${{ secrets.PAT }}
          outputs: |
            # 1. 浅色模式文件 (强制樱花粉格子 + 青团绿蛇)
            dist/github-contribution-grid-snake.svg?color_snake=#7bc96f&palette=#ffffff,#ffeef0,#ffb6c1,#ff69b4,#c71585
            
            # 2. 深色模式文件 (也强制樱花粉！这样你开夜间模式也能看到)
            dist/github-contribution-grid-snake-dark.svg?color_snake=#7bc96f&palette=#ffffff,#ffeef0,#ffb6c1,#ff69b4,#c71585 
      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
